<template>
    <div class="students-list">
      <div>
        <h1>Estudiantes</h1>
      </div>
      <ul v-if="students && students.length" class="student-list">
        <li v-for="(student, index) in students" :key="index" class="student-item">
          <RouterLink :to="{ name: 'student', params: { id: student.id } }" class="student-link">
            <div class="student-info">
              <p><strong>ID:</strong> {{ student.id }}</p>
              <p><strong>Nombre:</strong> {{ student.name }}</p>
              <p><strong>Correo:</strong> {{ student.email }}</p>
              <p><strong>Grupo:</strong> {{ student.group }}</p>
            </div>
          </RouterLink>
        </li>
      </ul>
      <p v-else>No se encontraron estudiantes.</p>
    </div>
  </template>
<script lang="ts" setup>
import { onMounted, ref } from 'vue';
import { useStudentStore } from '@/stores/student';
import type { Ref } from 'vue';
import type IStudent from '@/interface/IStudent';


const students: Ref<IStudent[]> = ref([]);
const { fetchStudents } = useStudentStore();

onMounted(async () => {
    try {
        await fetchStudents();
        students.value = useStudentStore().students;
        console.log(students.value);
    } catch (error) {
        console.error('Error during setup:', error);
    }
});

</script>
<style scoped>
.students-list {
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.student-list {
  list-style: none;
  padding: 0;
}

.student-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.student-link {
  text-decoration: none;
  color: inherit;
}

.student-info {
  display: flex;
  flex-direction: column;
}

.student-info p {
  margin: 5px 0;
}

.student-info p strong {
  margin-right: 5px;
}
</style>
