<template>
    <div class="container">
      <form @submit.prevent="sendData" class="login-form">
        <h1>Registro de estudiantes</h1>
        <div class="form-group">
          <label for="email">Email:</label>
          <input id="email" type="text" placeholder="Email" v-model="email">
        </div>
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input id="nombre" type="text" placeholder="Nombre" v-model="nombre">
        </div>
        <div class="form-group">
          <label for="group">Grupo:</label>
          <input id="group" type="text" placeholder="Grupo" v-model="group">
        </div>
        <div class="form-group">
          <button type="submit">Guardar</button>
        </div>
      </form>
    </div>
  </template>
<script lang="ts" setup>
import { useStudentStore } from '@/stores/student';

const { createStudent } = useStudentStore();
import { ref } from 'vue'

const email = ref('');
const nombre = ref('');
const group = ref('');



const sendData = () => {
  if ([email.value, nombre.value, group.value].includes('')) {
    return;
  }

  const registerData = {
    email: email.value,
    nombre: nombre.value,
    group: group.value
  };

  createStudent(registerData);
};

</script>
<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #3e3e3e;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #00bd7e;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #34495e;
}
</style>