<template>
    <div class="not-found">
      <h1>404! Página no encontrada</h1>
      <router-link :to="{ name: 'home' }">Regresar a la página principal</router-link>
    </div>
  </template>
  
  <script setup lang="ts"></script>
  
  <style scoped>
  .not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .router-link {
    text-decoration: none;
    color: blue;
  }
  </style>
  