<template>
    <div class="student-details">
      <div>
        <h1>Detalles del Estudiante</h1>
      </div>
      <div v-if="student" class="student-info">
        <p><strong>ID:</strong> {{ student.id }}</p>
        <p><strong>Nombre:</strong> {{ student.name }}</p>
        <p><strong>Correo:</strong> {{ student.email }}</p>
        <p><strong>Grupo:</strong> {{ student.group }}</p>
        <button @click="deleteStudent(student.id)" class="delete-button">Eliminar</button>
      </div>
      <p v-else>No se encontró el estudiante.</p>
    </div>
  </template>
  
<script lang="ts" setup>
import { useStudentStore } from '@/stores/student'
import { useRoute } from 'vue-router'
import { AuthService } from '@/service/AuthService'
import { onMounted } from 'vue'

const service = new AuthService()
const studentStore = useStudentStore()

const student = service.getStudent()

const deleteStudent = (id: number) => {
    service.deleteStudent(id);
}

onMounted(async () => {
  try {
    const router = useRoute()
    const studentId = router.params.id as string
    console.log('Student ID:', studentId)
    await studentStore.fetchStudent(studentId)
  } catch (error) {
    console.error('Error during setup:', error)
  }
})


</script>
<style scoped>
.student-details {
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.student-info {
  border: 1px solid #ccc;
  padding: 10px;
}

.student-info p {
  margin: 5px 0;
}

.student-info p strong {
  margin-right: 5px;
}

.delete-button {
  margin-top: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #cc0000;
}
</style>